<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>ProyectoEjemplo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
	
	<!--  <description>
      Servlet y JSP Ejemplos Joshua.
    </description>
    <display-name>Servlet y JSP Ejemplos Joshua</display-name> -->
	
	
	<!-- Define servlets that are included in the example application -->

    <!-- <servlet>
      <servlet-name>ServletToJsp</servlet-name>
      <servlet-class>ServletToJsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatServlet</servlet-name>
        <servlet-class>chat.ChatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompressionFilterTestServlet</servlet-name>
        <servlet-class>compressionFilters.CompressionFilterTestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HelloWorldExample</servlet-name>
        <servlet-class>servletes.HelloWorldExample</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestInfoExample</servlet-name>
        <servlet-class>RequestInfoExample</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestHeaderExample</servlet-name>
        <servlet-class>RequestHeaderExample</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestParamExample</servlet-name>
        <servlet-class>RequestParamExample</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CookieExample</servlet-name>
        <servlet-class>CookieExample</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionExample</servlet-name>
        <servlet-class>SessionExample</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ChatServlet</servlet-name>
        <url-pattern>/jsp/chat/chat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompressionFilterTestServlet</servlet-name>
        <url-pattern>/CompressionTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HelloWorldExample</servlet-name>
        <url-pattern>/examples/servlets/servlet/HelloWorldExample</url-pattern>
         <url-pattern>/HelloWorldExample</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestInfoExample</servlet-name>
        <url-pattern>/servlets/servlet/RequestInfoExample/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestHeaderExample</servlet-name>
        <url-pattern>/servlets/servlet/RequestHeaderExample</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestParamExample</servlet-name>
        <url-pattern>/servlets/servlet/RequestParamExample</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CookieExample</servlet-name>
        <url-pattern>/servlets/servlet/CookieExample</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionExample</servlet-name>
        <url-pattern>/servlets/servlet/SessionExample</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletToJsp</servlet-name>
        <url-pattern>/servletToJsp</url-pattern>
    </servlet-mapping>  -->  
	
	<!-- Definicion de Servlets en el ejemplo  CORRECTOS -->
	 <servlet>
        <servlet-name>HelloWorldExample</servlet-name>
        <servlet-class>servletes.HelloWorldExample</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloWorldExample</servlet-name>
        <url-pattern>/examples/servlets/servletes/HelloWorldExample</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>RequestInfoExample</servlet-name>
        <servlet-class>servletes.RequestInfoExample</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RequestInfoExample</servlet-name>
        <url-pattern>/examples/servlets/servletes/RequestInfoExample/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>RequestHeaderExample</servlet-name>
        <servlet-class>servletes.RequestHeaderExample</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RequestHeaderExample</servlet-name>
        <url-pattern>/examples/servlets/servletes/RequestHeaderExample</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>RequestParamExample</servlet-name>
        <servlet-class>servletes.RequestParamExample</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RequestParamExample</servlet-name>
        <url-pattern>/examples/servlets/servletes/RequestParamExample</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>CookieExample</servlet-name>
        <servlet-class>servletes.CookieExample</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CookieExample</servlet-name>
        <url-pattern>/examples/servlets/servletes/CookieExample</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>SessionExample</servlet-name>
        <servlet-class>servletes.SessionExample</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SessionExample</servlet-name>
        <url-pattern>/examples/servlets/servletes/SessionExample</url-pattern>
    </servlet-mapping>
    
    <servlet>
      <servlet-name>ServletToJsp</servlet-name>
      <servlet-class>servletes.ServletToJsp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletToJsp</servlet-name>
        <url-pattern>/examples/jsp/jsptoserv/servletToJsp</url-pattern>
    </servlet-mapping> 
	
	<!-- Mapeo Joshua -->
	<servlet>
  		<servlet-name>servletListaClicksJoshua</servlet-name>
   	 	<servlet-class>servlets.ListaClicksServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>servletListaClicksJoshua</servlet-name>
    	<url-pattern>/Clicks</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
  		<servlet-name>servletContadorJoshua</servlet-name>
  		<servlet-class>servlets.ContadorServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>servletContadorJoshua</servlet-name>
  		<url-pattern>/Contador</url-pattern>
  	</servlet-mapping>
  	
</web-app>